{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">

            </div>
        </div>
    </div>
{% endblock %}



{% block content %}
    <div class="container mb-2">
        {% if bag_items %}
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="text-navy">Shopping Bag</h2>
                    <hr class="w-50 mb-1">
                </div>
            </div>

            <div class="table-responsive rounded"></div>


        {% else %}
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="text-navy">Your bag is empty</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-8 text-center text-navy p-5 mx-auto">
                    <br>
                    <div class="input-group">
                        <button onclick="location.href='{% url 'products' %}'" type="button"
                            class="btn-navy form-control rounded-pill border border-navy">
                            Continue Shopping
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}