{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card bg-dark text-white mb-5">
        <img class="card-img overlay-about" src="{{ MEDIA_URL }}about.webp"
            alt="New York modern artist Demitrius Ompphroy, standing outside Goodlife in NYC where he has designed the facade.">
        <div class="card-img-overlay d-flex flex-column justify-content-center">
        </div>
    </div>

    <div class="container my-5 mx-auto about-section m-1 p-3">
        <h3 class="main-logo-font text-white text-center p-3">About Demit</h3>
        <p class="text-white text-center p-3">
            Demit studied art at the University of California, Berkeley. After a couple years of
            professional soccer,
            he pursued a new career in photography and filmmaking. Painting was always a constant passion across the
            different stages of
            his life, changing with him throughout his personal and professional development. His style has been
            heavily influenced by simplified lines and primary colors.
            Demit has been fascinated by the concept of eternal youth living inside of everyone. He believes as
            people get older, it is imperative to maintain and nurture
            that inner child- free to make mistakes, free to create without bounds. Thematically, all of his pieces
            focus on channeling that inner child by allowing artistic
            expression without the boundaries we internalize from our experiences with the world.
        </p>
    </div>
{% endblock %}