.order-history {
    max-height: 616px;
    /* Height of profile form & submit button */
    overflow-y: auto;
}

#profile-update-form input::placeholder {
    color: grey;
}

#profile-update-form .form-control {
    color: #103948;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #103948;
}

#id_default_country option:first-child {
    color: grey;
}