html {
    height: 100%;
}

body {
    height: 100%;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

/* .content {
    flex: 1 0 auto;
  } */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-font {
    /* text-transform: uppercase; */
    font-family: 'Gloria Hallelujah', cursive;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #103948;
    color: white;
    min-width: 260px;
}

.btn-navy {
    background: #103948;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus {
    background: #103948BF;
    color: white;
}

.text-navy {
    color: #103948 !important;
}

.border-navy {
    border: 1px solid #103948 !important;
}

#delivery-banner {
    background-color: #ebebeb;
}

/* -------------------------------- Navbar Styling */

#navbar1 {
    background-color: white;
    color: #103948;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* fixed top navbar only on medium and up ... try to change this with the fixed and rolling menu */
@media (min-width: 992px) {
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #103948BF;
    }
    
    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #103948BF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}