/* -------------------------------- Full app styling */

/* * {
    outline: 1px solid #f00 !important;
  } */
html {
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.text-navy {
    color: #103948 !important;
}

.text-red {
    color: #C95D63 !important;
}

.text-grey {
    color: grey !important;
    
}

.text-navy-light {
    color: #103948BF !important;
}

.border-navy {
    border: 1px solid #103948 !important;
}

#delivery-banner {
    background-color: #ebebeb;
}

.card-img {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}

.card-img:hover {
    transform: scale(1.1);
}

.bag-img {
    max-width: 220px;
    height: auto;
}

.p-3 {
    padding: $spacer !important;
}

/* .overlay {
    z-index: -1;
} */


/* -------------------------------- from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.custom-select {
    font-size: 16px;
}

/* -------------------------------- Logo Styling */

.main-logo-font {
    font-family: 'Gloria Hallelujah', cursive;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


/* -------------------------------- Button Styling */

.btn-navy {
    background: #103948;
    color: white;
}

.btn-white {
    background-color: white;
    color: #103948;
    border: 1px solid #103948;
}

.btn-white-bg {
    background-color: white;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-navy:hover,
.btn-navy:active,
.btn-navy:focus,
.btn:hover,
.btn:active,
.btn:focus {
    transform: scale(1.05);
}

.btn {
    color: #103948;
    border: 1px solid #103948;
    border-radius: 50%;
}



/* -------------------------------- Social Styling */

.social-btn {
    background-color: white;
    border: 1px solid white;
}

.fa-facebook {
    color: #3b5998
}

.fa-instagram {
    color: #C13584;
}



/* -------------------------------- Navbar Styling */

#navbar1 {
    background-color: white;
    color: #103948;
    position: fixed;
    z-index: +1;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

.shipping_returns {
    background-color: #ebebeb;
    color: #103948;
    padding: 10px;
    margin: 10px;
}

/* -------------------------------- Footer styling */

footer {
    background-color: #ebebeb;
    width: 100%;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* fixed top navbar only on medium and up ... try to change this with the fixed and rolling menu */
@media (min-width: 992px) {
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #103948BF;
    }

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #103948BF;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}