<!-- Footer -->
<footer class="text-navy mt-lg-5">
    <div class="container p-4">
        <!-- Section: Links -->
        <section class="text-navy">
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <h5 class="text-left font-weight-bold">Quick Links</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="{% url 'products' %}" class="text-navy hover-underline-animation">Shop</a>
                        </li>
                        <li>
                            <a href="{% url 'paintings' %}" class="text-navy hover-underline-animation">Paintings</a>
                        </li>
                        <li>
                            <a href="{% url 'murals' %}" class="text-navy hover-underline-animation">Murals</a>
                        </li>
                        <li>
                            <a href="{% url 'collabs' %}" class="text-navy hover-underline-animation">Collabs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-4 mb-md-0">
                    <h5 class="font-weight-bold text-left">Info</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="{% url 'about' %}" class="text-navy hover-underline-animation">My story</a>
                        </li>
                        <li>
                            <a href="{% url 'blog' %}" class="text-navy hover-underline-animation">Journal</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" class="text-navy hover-underline-animation">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-6 col-md-12 mb-4 px-4">
                    <form action="text-navy">
                        <div class="col-auto justify-content-center">
                            <h5 class="font-weight-bold text-center">
                                Sign up for our newsletter
                            </h5>
                        </div>
                        <br>
                        Email input
                        <div class="input-group w-100 w-md-75">
                            <input type="email" id="form5Example21" class="form-control border border-navy rounded-pill"
                                placeholder="mail@example.com" />
                            <label class="form-label d-none" for="form5Example21">Email address</label>
                        </div> -->

                <!-- Begin Mailchimp Signup Form -->


                <div class="col-lg-6 col-md-12 mb-4 px-4">
                    <form
                        action="https://github.us18.list-manage.com/subscribe/post?u=8ad9d420adacec9fc2d1d3eb3&amp;id=716f3e7bad&amp;f_id=00116ee7f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="col-auto justify-content-center">
                            <h5 class="font-weight-bold text-center">Sign up to our Newsletter</h5>
                            <p class="text-center">Get exclusive offers, keep up to date with shows and collaborations and follow the journey by subscribing to
                                our monthly newsletter
                            </p>
                            <br>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL" class="d-none">Email Address <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" placeholder="mail@example.com"
                                    class="required email form-control border border-navy rounded-pill" id="mce-EMAIL"
                                    required>
                                    <br>
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                    class="w-100 w-md-75 m-0 btn-navy form-control rounded-pill border border-navy">
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_8ad9d420adacec9fc2d1d3eb3_716f3e7bad" tabindex="-1" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    </section>
    <!-- Section: Links -->
    </div>

    <!-- Section: Social media -->
    <section class="text-center pt-5">
        <div class="form-inline justify-content-center">
            <!-- Facebook -->
            <a class="btn social-btn m-1" href="https://www.facebook.com/Demit-106192185588597" role="button"><i
                    class="fab fa-facebook"></i></a>
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="main-logo-font text-navy"><strong>Demit</strong></h2>
            </a>
            <!-- Instagram -->
            <a class="btn social-btn m-1" href="https://www.instagram.com/bouquet/" role="button"><i
                    class="fab fa-instagram"></i></a>
        </div>
    </section>
    <!-- Section: Social media -->

    <hr class="mt-0">

    <!-- Copyright -->
    <small>
        <div class="text-center font-weight-light">
            © 2022 Copyright:
            <a class="text-navy font-weight-light" href="">Demit</a>
        </div>
    </small>
    <!-- Copyright -->

    <!-- Credit Card options -->
    <ul class="list-inline w-auto mx-auto text-center">
        <li class="list-inline-item">
            <i class="fab fa-cc-amex" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-mastercard" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-stripe" style="font-size:24px"></i>
        <li class="list-inline-item">
            <i class="fab fa-cc-visa" style="font-size:24px"></i>
        </li>
    </ul>
    <!-- Credit Card options -->
</footer>