<!-- Footer -->
<footer class="text-navy">
    <div class="container p-4">
        <!-- Section: Links -->
        <section class="text-navy">
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <h5 class="text-left font-weight-bold">Quick Links</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Shop</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Shows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Commissions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Collabs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-4 mb-md-0">
                    <h5 class="font-weight-bold text-left">Info</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">My story</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Journal</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy hover-underline-animation">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 px-4">
                    <form action="text-navy">
                        <div class="col-auto justify-content-center">
                            <h5 class="font-weight-bold text-center">
                                Sign up for our newsletter
                            </h5>
                        </div>
                        <br>
                        <!-- Email input -->
                        <div class="input-group w-100 w-md-75">
                            <input type="email" id="form5Example21" class="form-control border border-navy rounded-pill"
                                placeholder="mail@example.com" />
                            <label class="form-label d-none" for="form5Example21">Email address</label>
                        </div>
                        <br>
                        <div class="input-group w-100 w-md-75 mx-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn-navy form-control rounded-pill border border-navy">
                                Subscribe
                            </button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
    </div>

    <!-- Section: Social media -->
    <section class="text-center pt-5">
        <div class="form-inline justify-content-center">
            <!-- Facebook -->
            <a class="btn social-btn m-1" href="#!" role="button"><i class="fab fa-facebook"></i></a>
            <a href="" class="nav-link main-logo-link">
                <h2 class="main-logo-font text-navy"><strong>Demit</strong></h2>
            </a>
            <!-- Instagram -->
            <a class="btn social-btn m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        </div>
    </section>
    <!-- Section: Social media -->

    <hr class="mt-0">

    <!-- Copyright -->
    <small>
        <div class="text-center font-weight-light">
            © 2022 Copyright:
            <a class="text-navy font-weight-light" href="">Demit</a>
        </div>
    </small>
    <!-- Copyright -->

    <!-- Credit Card options -->
    <ul class="list-inline w-auto mx-auto text-center">
        <li class="list-inline-item">
            <i class="fab fa-cc-amex" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-mastercard" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-stripe" style="font-size:24px"></i>
        <li class="list-inline-item">
            <i class="fab fa-cc-visa" style="font-size:24px"></i>
        </li>
    </ul>
    <!-- Credit Card options -->
</footer>
