<!-- Footer -->
<footer class="text-center text-navy">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Links -->
        <section class="text-navy">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-left font-weight-bold">Quick Links</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="#!" class="text-navy">Shop</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy">Shows</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy">Commissions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy">Collabs</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="font-weight-bold text-left">Info</h5>
                    <br>
                    <ul class="list-unstyled mb-0 text-left font-weight-light">
                        <li>
                            <a href="#!" class="text-navy">My story</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy">Journal</a>
                        </li>
                        <li>
                            <a href="#!" class="text-navy">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a href="" class="nav-link main-logo-link mx-auto d-block">
                        <h2 class="main-logo-font text-navy my-0 text-right"><strong>Demit</strong></h2>
                    </a>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <form action="text-navy">

                        <!--Grid column-->
                        <div class="col-auto justify-content-center">
                            <p class="pt-2 font-weight-bold">
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->
                        
                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Email input -->
                            <div class="input-group w-100">
                                <input type="email" id="form5Example21"
                                    class="form-control border border-navy rounded-pill"
                                    placeholder="mail@example.com" />
                                <label class="form-label d-none" for="form5Example21">Email address</label>
                            </div>
                        </div>
                        <!--Grid column-->
                        <br>
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn-navy form-control rounded-pill border border-navy ">
                                Subscribe
                            </button>
                        </div>
                        <!--Grid column-->
                    </form>
                    <br>
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a class="btn social-btn btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-facebook"></i></a>

                        <!-- Twitter -->
                        <a class="btn social-btn btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-youtube"></i></a>

                        <!-- Google -->
                        <a class="btn social-btn btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="btn social-btn btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-instagram"></i></a>

                    </section>
                    <!-- Section: Social media -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
    </div>
    <!-- Grid container -->
    <hr>

    <!-- Copyright -->
    <small>
        <div class="text-center p-3 font-weight-light">
            © 2022 Copyright:

            <a class="text-navy font-weight-light" href="">Demit</a>
        </div>
    </small>
    <!-- Copyright -->

    <!-- Credit Card options -->

    <ul class="list-inline w-auto mx-auto">
        <li class="list-inline-item">
            <i class="fab fa-cc-amex" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-mastercard" style="font-size:24px"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-cc-stripe" style="font-size:24px"></i>
        <li class="list-inline-item">
            <i class="fab fa-cc-visa" style="font-size:24px"></i>
        </li>
    </ul>

    <!-- Credit Card options -->



</footer>
<!-- Footer -->