<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-md-none">
            <a class="nav-link text-navy mr-5 font-weight-light" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="{% url 'about' %}" id="about-link">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="{% url 'contact' %}" id="shows-link">
                Contact
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="" id="commissions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Commissions
            </a>
            <div class="dropdown-menu shadow-lg border-0" aria-label="commissions-dd">
                <a href="{% url 'paintings' %}" class="dropdown-item font-weight-light text-navy">Paintings</a>
                <a href="{% url 'murals' %}" class="dropdown-item font-weight-light text-navy">Murals</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="{% url 'collabs' %}" id="collabs-link">
                Collabs
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="{% url 'blog' %}" id="blog-link">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-navy mr-5 hover-underline-animation font-weight-light" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu shadow-lg border-0" aria-label="all-products-dd">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item font-weight-light text-navy">By Price</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item font-weight-light text-navy">By Name (A-Z)</a>
                <a href="{% url 'products' %}" class="dropdown-item font-weight-light text-navy">All Products</a>
            </div>
        </li>
    </ul>
</div>