{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block inner_content %}

    <h2 class="text-navy text-center">{% trans "Log in" %}</h2>
    <hr class="w-50 mb-5">

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p class="text-navy">{% blocktrans with site.name as site_name %}Please log in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}" class="text-info">sign up</a>
            for a {{ site_name }} account and log in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot text-navy">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or text-navy">{% trans 'or' %}</div>

        </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p class="text-navy">{% blocktrans %}If you are new here, then please
            <a class="text-info" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

        <form class="login text-navy" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction btn-navy form-control rounded-pill border border-navy fixed-button mt-3 mx-auto"
                type="submit">{% trans "Log In" %}</button>
            <p class="text-navy mx-auto text-center mt-3">
                <a class="secondaryAction text-info mx-auto justify-content-around"
                    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
        </form>

{% endblock %}