{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-navy text-center">{% trans "Change Password" %}</h2>
    <hr class="w-50 mb-5">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-navy text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="text-info" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form class="text-navy" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn-navy form-control rounded-pill border border-navy fixed-button mt-3 mx-auto" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p class="text-navy text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
