{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
    <h2 class="text-navy text-center">{% trans "Signup" %}</h2>
    <hr class="w-50 mb-5">

    <p class="text-navy text-center">{% blocktrans %}Already have an account? Then please <a class="text-info" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup text-navy" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn-navy form-control rounded-pill border border-navy fixed-button mt-3 ml-0 mx-auto" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

{% endblock %}
