{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid card-img p-3" src="{{ product.image.url }}"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="mb-0 font-weight-bold main-logo-font text-navy">{{ product.name }}</h3>
                <br>
                <p class="lead mb-0 text-navy">€{{ product.price }}</p>
                <p class="mt-3 text-navy">{{ product.description|linebreaks }}</p>
                {% if request.user.is_superuser %}
                    <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-red" href="{% url 'delete_product' product.id %}">Delete</a>
                {% endif %}
            </div>

            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <!-- Hidden quantity for now, may come back to display only if certain type of product is displayed JS -->
                    <div class="col-12 d-none">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group w-50">
                            <div class="input-group">
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <input type="submit" class="btn-navy form-control rounded-pill border border-navy mt-3"
                            value="Add to Bag">
                        <button onclick="location.href='{% url 'products' %}'" type="button"
                            class="btn-white form-control rounded-pill border border-navy mt-5">
                            Continue Shopping
                        </button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>

            <div class="product-details-container mb-5 mt-5">
                <p class="mt-3 text-navy font-weight-bold"><small>Shipping & Returns</small></p>
                <p class="text-navy"><small>
                        Shipping rates are calculated by the size of the package and shipped via DHL within 10 business
                        days.
                        <br>
                        All artworks can be returned in their original packaging and original condition within 14 days
                        of receipt if it is not to your liking.
                    </small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}