<div class="toast custom-toast rounded-0 border-top-0" data-animation="true" data-autohide="true" data-delay="3000">
    <div class="toast-header bg-white text-red">
        <strong class="mr-auto">Oooops!</strong>
        <button type="button" class="ml-2 mb-1 close text-navy" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white text-navy">
        {{ message }}
    </div>
    {% if grand_total and not on_profile_page %}
    <div class="bag-notification-wrapper">
        <div class="row">
            <div class="col-10 mx-auto">
                <button onclick="location.href='{% url 'view_bag' %}'"
                    class="btn-navy form-control rounded-pill border border-navy mt-3" type="button">
                    <span class="text-uppercase">View Shopping bag</span>
                </button>
                <button onclick="location.href='{% url 'products' %}'" type="button"
                class="btn-navy form-control rounded-pill border border-navy">
                <span class="text-uppercase">Continue Shopping</span>
            </button>
            </div>
        </div>
    </div>
    {% endif %}
</div>